<mat-card class="flex items-start justify-center p-2">
    <mat-card-header class="flex items-start">
        <mat-card-title> {{heroe.superhero}} </mat-card-title>
        <mat-card-subtitle> {{heroe.alter_ego}} </mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="heroe | images" class="w-[400px]">

    <mat-card-content>
        <h3>{{ heroe.publisher }}</h3>
        <strong>Primera aparicion</strong><p class="max-w-[250px] truncate">{{ heroe.first_appearance }}</p>
        <br>
        <strong>Personajes: </strong><p class="max-w-[250px] truncate">{{ heroe.characters }}</p>
    </mat-card-content>

    <mat-card-actions class="w-full justify-between">
        <button mat-button color="warn" [routerLink]="['/heroes',heroe.id]">Read more...</button>
        <button mat-button color="info" [routerLink]="['/heroes/editar',heroe.id]">Edit</button>
    </mat-card-actions>
</mat-card>